{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}


{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}

	
		
<div id="content" class="site-content">
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
			<article id="post-4" class="post-4 page type-page status-publish hentry">
				<header class="entry-header">
				</header><!-- .entry-header -->
				<div class="entry-content">
					<style type='text/css'> h3{ margin:0; } </style>
						<p>Un métier en tension est un métier pour lequel il est particulièrement difficile de repérer des candidats. Certains postes ont aujourd’hui un nombre de réponses très souvent inférieur au nombre d’annonces diffusées. Ceci est particulièrement vrai sur certains poste d’usineurs, de chaudronniers, d’informaticiens, de plasturgistes, … métiers sur lesquels nous nous sommes focalisés depuis 2005.</p>
						<p>De cette longue expérience nous avons pu identifier qu’il existe 2 raisons principales au fait que certains métier soient en tension.</p>
						<p>La première est qu’il existe une véritable pénurie de candidats pour certains profils. Sur ce point nous pouvons très difficilement agir, il ne nous est pas possible « de créer des candidats ».</p>
						<p>La seconde est que certains profils sont difficilement accessibles (pas de CV, pas de mails, pas de présence internet, ou simple choix personnel). Pour ces profils-là, nous avons développé ou acquis un grand nombre d’outils nous permettant de constituer des CV-thèques extrêmement pointues sur chacun des métiers concernés, et de mettre en relation les employeurs et les candidats les plus pertinents sur chaque poste.</p>
						<p>Nous sommes ainsi en mesure de vous aider à trouver à coup sûr le profil que vous recherchez… s’il existe !</p>
						<h2>Nos méthodes</h2>
						<p>Le principe de Recrutic repose sur une organisation croisée de 15 sites-emploi parfaitement complémentaires. Ce système permet une approche par double compétence : métier et secteur d’activité. A titre d’exemple :</p>
							<ul>
								<li>un commercial en BTP sera diffusé sur BTP-VRD.com ET Commercial-B2B.com.</li>
								<li>un technicien méthodes-usinage sera diffusé sur BE-methodes.com ET tourneurs-fraiseurs.com</li>
								<li>etc&#8230;</li>
							</ul>
						<p>Ci-dessous, nous vous proposons un large extrait des compétences que nous croisons.</p>
						<h2>Sites Métiers</h2>
						<h3>Agro-Recrutement.com :</h3>
						<p>Opérateur-technicien sur ligne, Opérateur-Technicien en abattage, Opérateur-Technicien contrôle-qualité, Inséminateur, Commercial en agroalimentaire, Fonctions de laboratoire, Technicien de maintenance spécialisé, Encadrement de production</p>
						<h3>BTP-VRD.com :</h3>
						<p>Architecture-BE, Géomètre topographe, Métreur, Charpente-Couverture, Conducteur de travaux-Chef d&rsquo;équipe, Menuiserie-Serrurerie, Conduite d&rsquo;engin-Grutier, Electricité-Climatisation, Expertise-Sécurité, Maçonnerie, Plaquiste-Plâtrier-Peintre, Plomberie, Terrassement</p>
						<h3>Chaudronniers-Toliers.com :</h3>
						<p>Carrossier-Tôlier, Chaudronnier, Découpe emboutissage, Encadrement atelier, Encadrement de chantier, Métallier-Serrurier, BE, Méthodes Qualité Contrôle, Monteur, Opérateur, Peintre, Soudeur, Tuyauteur, Pliage-Poinçonnage-Grignotage, Prog régleur Plasma-Laser-Robot</p>
						<h3>Chimie-Emploi.com :</h3>
						<p>Responsable de production, Responsable laboratoire, Ingénieur-technicien en formulation, Ingénieur R&amp;D, Ingénieur Génie des Procédés, Ingénieur QHSE, Technicien contrôle qualité, Technicien Production, Technicien Maintenance, Opérateurs de fabrication</p>
						<h3>Energie-Emploi.com :</h3>
						<p>Nucléaire, Photovoltaïque, Oil &amp; Gas, Eolien et Marin, Etude, Installation, mise en service, Sécurité contrôle, Commerce, support client, Encadrement, Transport et stockage de l&rsquo;énergie, Bio Energie</p>
						<h3>Forgerons-Fondeurs.com :</h3>
						<p>Méthode Qualité Contrôle Forge, Méthode Qualité Contrôle Fonderie, Opérateur Forge, Opérateur Fonderie, Chef d’équipe Forge, Chef d’équipe Fonderie, Fonderie Mécanique, Fonderie Manuelle, Technicien Qualité</p>
						<h3>NTIC-Emploi.com :</h3>
						<p>DSI-RSI, Chef de projet, Architecture-Analyse-Modélisation, Sys admin, Maintenance Matériel, assemblage, mise en service, Vente matériel-solutions packagées, Vente services, Base de données-EAI-ETL, Hotline-formation, Développeur PC-Internet-Appli, Infographiste -webdesigner-multimédia, Webmastering-référencement-community manager, Solutions et Logiciels intégrés (CRM, ERP, BPM&#8230;)</p>
						<h3>Plastic-Emploi.com :</h3>
						<p>Ingénierie et conception plasturgiste-composites, Concepteur-dessinateur mouliste, Ingénieur-technicien en rhéologie, Conducteur de ligne (extrusion, soufflage, &#8230;), Monteur régleur presses (tous procédés), Outilleur en composites, Technicien agent de production en composites, Tests et contrôles qualité, Chef d&rsquo;ilot-chef d&rsquo;équipe, Cadre de production, Technico-commerciaux et chargés d&rsquo;affaires</p>
						<h3>Tourneurs-Fraiseurs.com :</h3>
						<p>Opérateur sur machines-outils, Aléseur, Commercial-Support Client, Encadrement Atelier, Entretien-SAV-Install, Fraiseur, Méthodes Qualité Contrôle, Ordonnancement-Logistique, Programmeur régleur CN, Rectifieur, Technicien FAO, Tourneur, Tourneur-Fraiseur</p>
						<p>&nbsp;</p>
						<h2>Sites Fonctions</h2>
						<h3>Appros-Achats.com :</h3>
						<p>Responsable service achat, Responsable logistique, Responsable logistique industrielle, Acheteur, Approvisionneur, Logisticien, Gestionnaire de stocks, Magasinier, Responsable qualité achats, Assistant achat, Spécialiste formalités douanières.</p>
						<h3>BE-Methodes.com :</h3>
						<p>Responsable BE, Responsable Méthodes, Responsable Industrialisation, Chef de projet études, Ingénieur Lean, Technicien méthodes, Dessinateur projeteur en industrie, Technicien Lean, Dessinateur projeteur en BTP, Dessinateur BTP, Dessinateur en industrie.</p>
						<h3>Commercial-B2B.com :</h3>
						<p>Directeur Commercial, Directeur d&rsquo;agence commerciale, Responsable marketing, Chef des ventes, Responsable de plateau, Développeur international (tous profils), Technico-commercial en biens industriels, Commercial en services et prestations, Chargé d&rsquo;affaires, Deviseur-chiffreur, Agent commercial, Commercial sédentaire, Assistant commercial, Assistant export, Téléprospecteur-télévendeur.</p>
						<h3>Maintenance-Emploi.com :</h3>
						<p>Ingénieur-responsable de maintenance, Chef d&rsquo;atelier maintenance, Chef d&rsquo;équipe maintenance (chantier), Technicien maintenance en atelier, Technicien maintenance sur chantier-itinérant, Technicien de maintenance ascensoriste, Technicien de maintenance &laquo;&nbsp;froid et climatisation&nbsp;&raquo;, Technicien de maintenance électronique-bureautique-informatique, Technicien de maintenance véhicules roulants.</p>
						<h3>Managers-Emploi.com :</h3>
						<p>Directeur General-PDG, Directeur Industriel, DAF, Directeur Commercial, DSI-RSI,  Directeur responsable QHSE, Manager de transition, Responsable Import-Export, DRH-RRH, Responsable de Business Unit, Responsable/directeur d&rsquo;agence, Responsable de production, Responsable études ou méthodes, Responsable d&rsquo;atelier, Responsable logistique, Responsable des achats.</p>
						<h3>QHSE-Emploi.com :</h3>
						<p>Contrôleur-métrologie, Responsable HSE, Responsable qualité, Technicien HSE, Technicien qualité.</p>
						<p>&nbsp;</p>
		</div><!-- .entry-content -->

		<footer class="entry-footer">
				</footer><!-- .entry-footer -->
</article><!-- #post-## -->




	</main><!-- #main -->
</div><!-- #primary -->


<div id="secondary" class="widget-area" role="complementary">
</div><!-- #secondary -->

</div><!-- #content -->




{% endblock %}