{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}


{% extends "OCPlatformBundle::layout.html.twig" %}
{% block title %}
	Contact
{% endblock %}

{% block body %}

	<table id='Contact'>
		<tr>
			<th>Formulaire de contact</th>
		</tr>
		<tr>
			<td>{{ form(form)}}</td>
		</tr>
	</table>
		


{% endblock %}