<ul id="Footer">
	<li>
		<a href="{{ path('APropos') }}">À propos</a>
	</li>
	<li>
		<a href="{{ path('contact') }}">Contact</a>
	</li>
</ul>
			
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>			
