{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Modifier une fonction
{% endblock %}

{% block body %}
	
	<table id="TableCandidat">
		<tr><th>Modifier une fonction</th></tr>
		<tr><td>{{ form(form)}}</td></tr>
	</table>
{% endblock %}