{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Modifier une fonction
{% endblock %}

{% block body %}
	{% if msg == "Cette fonction a bien été modifiée" %}
			<p style="display:block; text-align: center; background-color: green;color:white;padding:1%;">La fonction a bien été modifiée</p>
		{% endif %}
	<table id="TableCandidat">
		<tr><th>Modifier une fonction <a href="{{ path('admin_fonction') }}"><input type="submit" value="Retour" id="BoutonAnnonce"></a></th></tr>
		<tr><td>{{ form(form)}}</td></tr>
	</table>
{% endblock %}