{# src/OC/PlatformBundle/Resources/views/Admin/MenuTri.html.twig #}

<nav class="menuTri">
	<ul id="menuTri">
		<li>
			<a href="{{ path('moulinette')}}" style="background-color: rgb(224,234,137)">MAJ Site/Accent/Fonction</a> 
		</li>
	</ul>
</nav>		