{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
	<table id="ChangeMDP">
		<tr>
			<th>
				Modification du mot de passe <a href="{{ path('mapage') }}"><input type="submit" value="Retour" id="BoutonAnnonce"></a>
			</th>
		</tr>
		<tr>
			<td>{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}</td>
		</tr>
	</table>
			
{% endblock fos_user_content %}

