{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Modifications CVTheque
{% endblock %}

{% block body %}
	<table id='ModifCV'>
		<tr><th>Contacter ce candidat<a href="{{ path('CVtheque') }}"><input type="submit" value="Retour" id="BoutonAnnonce" style='color:white;'></a></th></tr>
		<tr><td>{{ form(form)}}</td></tr>
	</table>	
	
{% endblock %}